<div id="invest" style="height: 600px;background-color: #12091e;">
  <img class="anime3" src="/images/peak_mountain_2.png"
    style="width: 460px;float:right; position: relative; top:10%; margin-left: 30px;">

  <div class="text">
    <h2 class="" style="margin-bottom: 20px;color:white">Investimento</h2>
    <p class="" style="text-align: justify;margin-left: 30px;">Lorem ipsum dolor sit amet, consectetur adipiscing
      elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
      nostrud exercitation ullamco laboris nisi ut aliquip ex ea.</p>
    <p style="text-align: justify;margin-left: 30px;">
      Ididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
      nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
      reprehenderit in voluptate velit esse cillum dolore eu fugiat.
    </p>
    <button type="button" class="btn btnInvest" style="position: absolute;top: 120%;left:25.5%" data-toggle="modal"
      data-target="#modalExemplo">Eu quero!</button>
  </div>
</div>

<!-- Modal -->
{{>_modal}}