<nav>
    <ul class="menu">
        <li><a id="menuI" style="color: #91C4F2;" class="dropdown-toggle" href="i1">Geral</a></li>
        <li><a id="menuI" style="color: #91C4F2;" class="dropdown-toggle" href="i2">Administração</a></li>
        <li><a id="menuI" style="color: #91C4F2;" class="dropdown-toggle" href="i3">Aprendizado de máquina</a></li>
        <li><a id="menuI" style="color: #91C4F2;" class="dropdown-toggle" href="i4">Inteligência</a></li>
        <li><a id="menuI" style="color: #91C4F2;" class="dropdown-toggle" href="i5">Big Data</a></li>
    </ul>
</nav>
<div class="i" id="i1" style="margin-top: 80px;">
    <h4 style="color: #91C4F2;">Geral</h4>
    <p class="pi">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
        ut aliquip ex ea commodo consequat.</p>
    <h5 style="margin-top: 110px;position: absolute;left: 42.4%; color:#91C4F2;">Disciplinas envolvidas</h5>
    <div style="list-style-type:symbols();top: 210%;left:41%;position: absolute;">
        <ul style="text-align: left;">
            <li>
                <p class="displi">Ambiente de Ensino e Aprendizagem a Distância</p>
            </li>
            <li>
                <p class="displi">Preparação Pedagógica</p>
            </li>
            <li>
                <p class="displi">Metodologia de Pesquisa Científica em Computação</p>
            </li>
        </ul>
    </div>
</div>
<div class="i" id="i2" style="margin-top: 80px;">
    <h4>Administração de Gerenciamento de Banco de Dados</h4>
    <p class="pi">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
        id est laborum.</p>
    <h5 style="margin-top: 110px;position: absolute;left: 42.4%;">Disciplinas envolvidas</h5>
    <div style="list-style-type:symbols();top: 210%;left:41%;position: absolute;">
        <ul style="text-align: left;">
            <li>
                <p class="displi">Análise e Modelagem de Banco de Dados</p>
            </li>
            <li>
                <p class="displi">Introdução ao Gerenciamento de Banco de Dados</p>
            </li>
        </ul>
    </div>
</div>
<div class="i" id="i3" style="margin-top: 80px;">
    <h4>Aprendizado de Máquina e Inteligência Artificial</h4>
    <p class="pi">viverra mauris in aliquam. At in tellus integer feugiat scelerisque. Elementum eu facilisis
        sed odio morbi quis commodo odio. Nisl nunc mi ipsum faucibus</p>
    <h5 style="margin-top: 110px;position: absolute;left: 42.4%;">Disciplinas envolvidas</h5>
    <div style="list-style-type:symbols();top: 210%;left:41%;position: absolute;">
        <ul style="text-align: left;">
            <li>
                <p class="displi">Lore Ipsum</p>
            </li>
        </ul>
    </div>
</div>
<div class="i" id="i4" style="margin-top: 80px;">
    <h4>Inteligência de Negócio</h4>
    <p class="pi">Nec ultrices dui sapien eget mi proin. Nibh nisl condimentum id venenatis a condimentum vitae
        sapien pellentesque. Sagittis id consectetur purus ut. Senectus et netus.</p>
    <h5 style="margin-top: 110px;position: absolute;left: 42.4%;">Disciplinas envolvidas</h5>
    <div style="list-style-type:symbols();top: 210%;left:41%;position: absolute;">
        <ul style="text-align: left;">
            <li>
                <p class="displi">Lore Ipsum</p>
            </li>
        </ul>
    </div>
</div>
<div class="i" id="i5" style="margin-top: 80px;">
    <h4>Big Data (Gestão de Grandes Volumes de Dados)</h4>
    <p class="pi">Vel facilisis volutpat est. Commodo sed egestas egestas fringilla phasellus faucibus. Mattis
        rhoncus urna neque viverra justo nec ultrices dui sapien. Elementum curabitur vitae nunc sed velit.</p>
    <h5 style="margin-top: 110px;position: absolute;left: 42.4%;">Disciplinas envolvidas</h5>
    <div style="list-style-type:symbols();top: 210%;left:41%;position: absolute;">
        <ul style="text-align: left;">
            <li>
                <p class="displi">Lore Ipsum</p>
            </li>
        </ul>
    </div>
</div>
</div>