
<div id="corpo" class="anime" style="height: 600px;background-color: #12091e;">
    <div class="text">
        <h2>Corpo Docente</h2>
        <p style="text-align: center;">Lorem ipsum dolor sit amet, consectetur adipiscing
            elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
    </div>
    <div>
        <div class="card c1 zoom">
            <img src="/images/avatar1.png" style="width: 200px;">
            <div class="card-body">
                <p style="color: white;">Jessica</p>
            </div>
        </div>
        <div class="card c2 zoom">
            <img class="" src="/images/avatar2.png" style="width: 200px;">
            <div class="card-body">
                <p style="color: white;">Raimundo</p>
            </div>
        </div>
        <div class="card c3 zoom">
            <img src="/images/avatar3.png" style="width: 200px;">
            <div class="card-body">
                <p style="color: white;">Helio</p>
            </div>
        </div>
    </div>
</div>