<div style="height: 400px;">
    <h1 class="mbah1 anime4">MBA em Ciência de Dados</h1>
</div>

{{>_geral}}

<div id="areas" class="anime" style="height: 600px;background-color: #12091e;">
    <img class="anime3" src="/images/peak_mountain_3.png"
        style="width: 460px;float:left; position: relative; top:10%; margin-left: 30px;">
    <div class="text">
        <h2 style="color: #fff;">Áreas Envolvidas</h2>
        {{>_menu}}
    </div>
</div>

{{>_professores}}

{{>_investimento}}